.form {
  background-color: var(--color-neutral-white);
  width: 60rem;
  height: 37.5rem;
  margin-inline: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: 17.125rem 1fr;
}

/*============ SIDE BAR ============*/

.form-sidebar {
  background: url("../assets/images/bg-sidebar-desktop.svg") no-repeat;
  padding: 1.875rem 1.875rem;
}

.sidebar__step {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.sidebar__step.active > .sidebar__page-number {
  background: var(--color-primary-light-blue);
  border-color: var(--color-primary-light-blue);
  color: var(--color-primary-marine-blue);
}

.sidebar__page-number {
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid var(--color-neutral-white);
  color: var(--color-neutral-white);
}

.sidebar__page-content p {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: var(--color-neutral-light-gray);
}

.sidebar__page-content h1 {
  text-transform: uppercase;
  font-size: 0.9rem;
  color: var(--color-neutral-white);
  font-weight: 500;
  letter-spacing: 0.1rem;
}

/*============ MAIN FORM ============*/

.form-container {
  padding: 2.8rem 6.25rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-container__title h1 {
  color: var(--color-primary-marine-blue);
  margin-bottom: 1rem;
}

.form-container__title p {
  color: var(--color-neutral-cool-gray);
  margin-bottom: 2.8rem;
}

/*============ BUTTON ============*/
.form-container__button {
  bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.btn {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.8rem 1.5rem;
  border-radius: 7px;
  border: 2px solid;
  cursor: pointer;
}

.btn__prev-page {
  background: transparent;
  border-color: transparent;
  color: var(--color-neutral-cool-gray);
  padding-inline: 0;
}

.btn__prev-page:hover {
  color: var(--color-primary-marine-blue);
}

.btn__next-page {
  color: var(--color-neutral-white);
  border-color: var(--color-primary-marine-blue);
  background: var(--color-primary-marine-blue);
}

.btn__next-page:hover {
  background: var(--color-neutral-white);
  color: var(--color-primary-marine-blue);
  border-color: var(--color-primary-marine-blue);
}

.btn__confirm {
  border-color: var(--color-primary-purplish-blue);
  background: var(--color-primary-purplish-blue);
}

.btn__confirm:hover {
  background: var(--color-primary-pastel-blue);
  color: var(--color-neutral-white);
  border-color: var(--color-primary-pastel-blue);
}
