/*============ PLANS ============*/
.select-plans__plans {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-bottom: 2rem;
}

/*============ PLAN ============*/
.select-plans__plan {
  border: 1px solid var(--color-neutral-light-gray);
  border-radius: 8px;
  padding: 1rem;
  position: relative;
}

.plan__input {
  opacity: 0;
}

.plan__label::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 8px;
  cursor: pointer;
}

.plan__input:checked + .plan__label::before {
  border: 1px solid var(--color-primary-purplish-blue);
}

.plan__title {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.plan__cost {
  margin-bottom: 0.5rem;
  color: var(--color-neutral-cool-gray);
}

.plan__discount {
  font-size: 0.8rem;
}

/*============ PLAN TERM SWITCH ============*/
.switch {
  background: var(--color-neutral-alabaster);
  padding: 1rem 7.75rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  position: relative;
}

.switch__active {
  font-weight: 500;
  color: var(--color-primary-marine-blue);
}

.switch__inactive {
  font-weight: 500;
  color: var(--color-neutral-cool-gray);
}

#switch__input {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switch__label {
  content: "";
  width: 2.375rem;
  height: 1.25rem;
  background: var(--color-primary-marine-blue);
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem;
  padding: 0.25rem;
  position: relative;
  margin-left: -1.5rem;
  margin-bottom: -0.1rem;
}

.switch__button {
  content: "";
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  left: 0.25rem;
  border-radius: 50%;
  transition: 0.2s;
  background: var(--color-neutral-white);
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

#switch__input:checked + .switch__label .switch__button {
  left: calc(100% - 0.75rem);
  transform: translateX(-35%);
}
